body {
    display: grid;
    margin: 0 auto;

}

button:hover {
    background: #000;
    color: white;
    cursor: pointer;
    font-family: 'SF Pro Display', sans-serif;
}

header {
    color: white;
    display: flex;
    justify-content: center;
    background: rgb(131, 131, 131);
    border-bottom: 1px solid black;
}

header button {
    height: 50px;
    display: block;
    outline: none;
    border: none;
}

header p {
    margin-left: 25px;

}


main {
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.products {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.products div {
    display: grid;
    margin: auto;
    background: lightgrey;
    border: 1px solid #000;
    height: auto;
    text-align: center;

}

.products div button {
    height: 50px;
    display: block;
    outline: none;
    border: none;
}


@media (max-width: 1300px) {
    .products {
        grid-template-columns: minmax(150px, auto);
    }
}


/* 
#basket div {
    margin: auto;
    background: lightgrey;
    border: 1px solid #000;
    height: auto;
} */